*{
  box-sizing: border-box;
}

.content-container{
  width: 50%;
  margin: auto;
  margin-top: 64px;
  border-radius: 8px;
  padding: 32px;
  border : 1px solid grey ;
  margin-bottom: 32px;
}

.content-container .header{
  text-align: center;
  margin-bottom: 16px;
}

.content-container input{
  width: 100%;
  padding: 16px;
  margin-bottom: 8px;
  border : none;
  outline : none;
  border: 1px solid grey;
  border-radius: 6px;
}

.content-container button{
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  border : none;
  outline: none;
  width: 25%;
  margin-right: 64px;
}

.content-container .orders div{
  padding: 8px;
  border : 1px solid grey;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
